<!DOCTYPE html>
<html>

<head>
  <!-- https://vuejs.org/ https://vuejs.org/v2/guide/components.html https://github.com/jbaysolutions/vue-grid-layout -->
  <meta charset="UTF-8">
  <link rel='shortcut icon' href='favicon.ico' type='image/x-icon' />
  <title>Random Caller (vue.js)</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div id="periods">
    <header>
      <button v-on:click="undoLastedCalled" class="undo white">
        <svg height="25px" viewBox="0 0 409 409">
          <path fill="#777" stroke="none" d="M212.018,7.461c-60.921,0-118.198,28.518-155.245,75.784L0.122,50.491L0,237.986l162.426-93.645l-52.213-30.21
           c25.648-28.724,62.548-46.02,101.805-46.02c75.233,0,136.475,61.213,136.475,136.465c0,75.25-61.241,136.468-136.475,136.468
           v60.645c108.701,0,197.133-88.423,197.133-197.112C409.151,95.891,320.719,7.461,212.018,7.461z" />
        </svg>
      </button>
      <button v-on:click="nextPeriod">P{{period}}</button>
      <button v-on:click="callRandom" class="blue">random</button>
      <button v-on:click="showSettings" class="showhide white">more</button>
      <div v-if="isSettingsSeen" class="settings">
        <form>
          <input id="drag" type="checkbox" class="slideOne" v-model="draggable" v-on:click="saveToLocalSettings" />
          <label for="drag">drag</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input id="resize" type="checkbox" v-model="resizable" v-on:click="saveToLocalSettings" />
          <label for="resize">resize</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input id="verbose" type="checkbox" v-model="verbose" v-on:click="saveToLocalSettings" />
          <label for="verbose">verbose</label>
        </form>
        <br>
        <button id='add' v-on:click="addItem">add</button>
        <button v-on:click="removeItem">remove</button>
        <button v-on:click="resetCount">reset count</button>
        <button v-on:click="reset">reset names</button>
        <!-- <button v-on:click="tidy">tidy</button> -->
        <br>
        <button v-on:click="exportOut">save to JSON file</button>
        <button v-on:click="importIn">load from JSON file →</button>
        <input type="file" class='file' id="selectFiles" value="Import">
        <br>
      </div>
    </header>
    <br>
    <grid-layout :layout="layout" :col-num="12" :row-height="40" :is-draggable="draggable" :is-resizable="resizable" :vertical-compact="false"
      :margin="[15, 20]" :use-css-transforms="true">

      <grid-item v-for="item in layout" :x="item.x" :y="item.y" :w="item.w" :h="item.h" :i="item.i" @resized="resizedEvent" @moved="movedEvent"
        v-bind:class="item.focus ? 'focus' : 'not-focus' ">
        <span class="text">{{item.name}}</span>
        <span class="num">{{item.num}}</span>
      </grid-item>

    </grid-layout>
  </div>
  <div id="first-time"></div>
  <select id='language'>
    <option value="en-GB">GB</option>
    <option value="en-US">US</option>
    <option value="en-AU">AU</option>
    <option value="fr-FR">FR</option>
    <option value="de-DE">DE</option>
    <option value="en-IN">IN</option>
    <option value="zh-CN">CN</option>
    <option value="pl">PL</option>
    <option value="ru">RU</option>
    <option value="sv-SE">SE</option>
    <option value="en-ZA">ZA</option>
  </select>
  <footer id='speech'></footer>

  <script src='lib/vue.min.js'></script>
  <script src="lib/vue-grid-layout.min.js"></script>
  <script src="lib/animals.js"></script>
  <script src="index.js"></script>
</body>

</html>