@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400");
/* @import url("https://fonts.googleapis.com/css?family=Londrina+Shadow"); */

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  /* font-family: "Londrina Shadow", cursive; */

  margin: 0;
  overflow: hidden;
  user-select: none;
  /*cursor: crosshair;*/
}
svg {
  /* background-color: #fee; */
  /* user-select: none; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a {
  fill: #000;
}
