@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,700");

/************Reset**************/
* {
  box-sizing: border-box;
}

html,
body,
div,
object,
iframe,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header,
article,
figure {
  display: block;
}

svg:not(:root) {
  overflow: hidden;
}

/************End Reset**************/
/*global elements____________________________________*/
/* html {
  background-color: #222;
} */
body {
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-size: 105%;
  color: #333;
  line-height: 1.4;
  overflow-x: hidden;
  /* background-color: #fff; */
}

article {
  padding: 5px;
  margin: 0 auto;
  max-width: 600px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

button {
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
  font-size: 1em;
  margin: 0.3em;
}

input {
  font-family: Monaco, monospace;
  font-size: 90%;
  border: 10px;
  margin: 0.2em;
  width: 80px;
}

input[type="number"] {
  background: #eee;
}

input[type="text"] {
  background: #eee;
}

input:focus {
  outline: 0;
}

input[type="range"] {
  height: 12px;
}

input[type=range]::-moz-focus-outer {
  border: 0;
}

canvas {
  margin: 0px;
  box-shadow: 2px 2px 8px #aaa;
  border-radius: 5px;
  user-select: none;
}

a {
  text-decoration: none;
  color: #2793c7;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

summary {
  cursor: pointer;
  outline: none;
}

hr {
  border: 0;
  border-bottom: 1px solid #aaa;
}

::selection {
  color: white;
  background: #2793c7;
}

pre {
  overflow-x: auto;
  background-color: #eee;
}

table {
  margin: 5px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  width: 100%;
}

tr:hover {
  background: #f4f4f4;
}

th,
td {
  text-align: center;
  border: 1px solid #eee;
  padding: 0.25rem;
  border-collapse: collapse;
}

th {
  background: #444;
  color: #fff;
}

/*classes_________________________________________*/
.underlined {
  margin-top: 2em;
  margin-bottom: 0em;
  border-bottom: 1px solid #aaa;
  font-weight: 300;
  font-size: 2.2em;
}

.center {
  text-align: center;
  padding: 0;
  margin: auto;
  display: block;
}

.on-edge {
  margin-left: -1em;
  margin-right: -1em;
}

.highlight {
  color: #fff;
  background-color: #2793c7;
  /*color: #000;
  background-color: #ffcdf0;*/
  border-radius: 5px;
  margin: 0px 2px 0px 2px;
  padding: 0px 2px 0px 2px;
}

.definition {
  color: #000;
  background-color: #ddeef6;
  padding: 1em;
  margin: 1em 0em 1em 0em;
  border-radius: 1em;
  line-height: 1.6;
  font-size: 110%;
}

.definition em {
  color: #888;
  font-weight: 300;
}

.example {
  margin: 8em 0em 8em 0em;
}

.example-small {
  margin: 3em 0em 3em 0em;
}

.derive {
  background-color: #e6f9f0;
  padding: 1.3em;
  border-radius: 1em;
}

/*math tex rendering __________________________*/
.katex {
  font-size: 1.5em;
}

/*2 Equal-Width Columns that combine in the article________________*/
@media screen and (min-width: 43em) {
  .col-group {
    overflow: hidden;
  }

  .col-group>div {
    float: left;
    width: 50%;
  }
}

/* Grid with auto placement ______________________________________*/
.listing {
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.listing li {
  display: flex;
  flex-direction: column;
}

/* front page grid ________________________________________________*/
.listing-style {
  overflow: hidden;
  padding: 0.5em 0 0 0.5em;
  max-width: 1300px;
  margin: 0 auto;
  line-height: 1.6;
}

.listing-style li {
  padding: 0 0.5em 0.5em 0;
}

.listing-style a {
  color: #555;
}

.listing-style a:hover {
  color: #2793c7;
}

.listing-style h2 {
  border-bottom: 1px solid #aaa;
  font-weight: 400;
  margin-bottom: -0.3em;
}

/* fake Grid ________________________________________________*/
.wrapper {
  display: grid;
  grid-template-columns: 292px 292px;
  grid-gap: 16px;
}

.wrapper>div {
  /* border: 1px solid #aaa; */
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

/* 3 column flex Grid ________________________________________________*/
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

@media (max-width: 500px) {
  .flex-grid-thirds {
    display: block;
  }

  .flex-grid-thirds .col {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

/* Header setup_________________________________*/
header {
  /* background: linear-gradient(to left, #9bb, #bb9, #b9b); */
  background-color: #222;
  color: #fff;
  padding: 0.1em 0em 0.1em 0em;
  text-align: center;
  width: 100%;
}

header h1 {
  margin: 0.4em;
  font-size: 5em;
  font-weight: 300;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

header h1 a:hover {
  color: #fff;
  text-decoration: none;
}

/* footer setup_________________________________*/
.back {
  text-align: center;
  padding: 2em;
  margin: 10em 0em 0em 0em;
  width: 100%;
  background-color: #222;
}

.back a {
  background-color: #fff;
  font-size: 1.3em;
  color: #000;
  padding: 0.3em 1em;
  border-radius: 1em;
}

/* responsive media rules for mobile________________________________ */
@media screen and (max-width: 650px) {
  header h1 {
    font-size: 3em;
  }

  .underlined {
    font-size: 1.8em;
  }

  .definition {
    padding: 10px;
    font-size: 100%;
  }

  .on-edge {
    margin-left: -10px;
    margin-right: -10px;
  }

  .katex {
    font-size: 1.2em;
  }

  canvas {
    max-width: 100%;
    height: auto;
  }

  .hide-on-mobile {
    display: none;
  }
}