@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");

/************Reset**************/

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
object,
iframe,
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header,
footer,
nav,
section,
article,
hgroup,
figure {
  display: block;
}
legend {
  display: none;
}

svg:not(:root) {
  overflow: hidden;
}

/************End Reset**************/

/*global elements____________________________________*/
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 105%;
  background-color: #fff;
  padding-top: 0;
  color: #333;
  margin: 0;
  line-height: 1.4;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}
article {
  padding: 0.1em;
  margin: 0 auto;
  max-width: 600px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

button {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  margin: 0.3em;
}

input {
  font-family: Monaco, monospace;
  font-size: 100%;
  width: 69px;
  background: #eee;
  border: 10px;
  margin: 0.2em;
}

input:focus {
  outline: 0;
}

canvas {
  margin: 0.3em;
  /*border: 1px solid #999;*/
  box-shadow: 2px 2px 8px #aaa;
  border-radius: 5px;
  user-select: none;
  /*cursor: crosshair;*/
}
a {
  text-decoration: none;
  color: #2793c7;
}
a:hover {
  text-decoration: underline;
  color: #000;
}
summary {
  cursor: pointer;
  outline: none;
}
hr {
  border: 0;
  border-bottom: 1px solid #aaa;
}
th {
  font-weight: bold;
  text-align: left;
}
details p {
  text-align: center;
  font-size: 1.3em;
}
::selection {
  color: white;
  background: #2793c7;
  /*background: #0f0;*/
}
pre {
  overflow-x: auto;
  background-color: #eee;
}

table {
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  /*border-bottom: 2px solid #222;*/
  width: 100%;
}
/*table tr:hover {
  background: #f4f4f4;
}
table tr:hover td {
  color: #555;
}*/
table th,
table td {
  color: #777;
  border: 1px solid #eee;
  padding: 12px 20px;
  border-collapse: collapse;
}
table th {
  background: #444;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.85em;
}
table th.last {
  border-right: none;
}

.black {
  background-color: #000;
}

.number {
  width: 52px;
}
.rainbow {
  background: linear-gradient(red, orange, yellow, green, cyan, blue, violet);
  font-weight: 900;
  color: #fff;
}
.ion {
  background: #fef;
}

/*classes_________________________________________*/
.back {
  text-align: center;
  margin: 10em;
}

.underlined {
  margin-top: 2em;
  margin-bottom: 0em;
  border-bottom: 1px solid #aaa;
  font-weight: 300;
  font-size: 2.2em;
}
.strikeout {
  text-decoration: line-through;
}

.center {
  text-align: center;
  padding: 0;
  margin: auto;
  display: block;
}

.highlight {
  color: #fff;
  background-color: #2793c7;
  /*color: #000;
  background-color: #ffcdf0;*/
  border-radius: 5px;
  margin: 0px 2px 0px 2px;
  padding: 0px 2px 0px 2px;
}

.definition {
  color: #000;
  background-color: #ddeef6;
  padding: 1em;
  margin: 1em 0em 1em 0em;
  border-radius: 1em;
  line-height: 1.6;
}
.definition em {
  color: #888;
  font-weight: 300;
}
.example {
  margin: 8em 0em 8em 0em;
}

.data th,
td {
  padding: 0.5em;
}

.derive {
  text-align: center;
  background-color: #e6f9f0;
  padding: 1.3em;
  border-radius: 1em;
}
.history {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
  text-align: left;
  background-color: #e6f9f0;
  font-size: 1em;
  padding: 1.3em;
  border-radius: 1em;
}

/*math tex rendering __________________________*/

.katex {
  font-size: 1.5em !important;
}
details .katex {
  font-size: 2em !important;
}

/*basic flex box __________________________*/
.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex-item {
  margin: 0.8em;
}

/*2 Equal-Width Columns that combine in the article________________*/
@media screen and (min-width: 43em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 50%;
  }
}
/* Grid with auto placement ______________________________________*/
.listing {
  list-style: none;
  margin: 0.5em;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}
.listing li {
  display: flex;
  flex-direction: column;
}
/* front page grid ________________________________________________*/
.listing-style {
  overflow: hidden;
  padding: 0.5em 0 0 0.5em;
  max-width: 1300px;
  margin: 0 auto;
  line-height: 1.6;
}
.listing-style li {
  padding: 0 0.5em 0.5em 0;
}

.listing-style a {
  color: #555;
}

.listing-style a:hover {
  color: #2793c7;
}

.listing-style h2 {
  border-bottom: 1px solid #aaa;
  font-weight: 400;
  margin-bottom: -0.3em;
}

/* fake Grid ________________________________________________*/
.wrapper {
  display: grid;
  grid-template-columns: 292px 292px;
  grid-gap: 16px;
}

.wrapper > div {
  /* border: 1px solid #aaa; */
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

/* Header setup_________________________________*/
header {
  background-color: #222;
  color: white;
  padding: 0.1em 0em 0.1em 0em;
  text-align: center;
}

header h1 {
  margin: 0.4em;
  font-size: 5em;
  font-weight: 300;
}

.e-mail-link {
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}
.e-mail-link:hover {
  text-decoration: none;
  background-color: #2793c7;
  color: white;
}

@media screen and (max-width: 800px) {
  .side-graphics {
    visibility: hidden;
  }
}
@media screen and (max-width: 1100px) {
  .side-graphics-wide {
    visibility: hidden;
  }
}
@media screen and (max-width: 1100px) {
  .display-over-1100 {
    display: none;
  }
}
