@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,700';


/************Reset**************/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, object, iframe, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
header, footer, nav, section, article, hgroup, figure {
    display: block;
}
legend {
    display: none;
}

svg:not(:root) {
  overflow: hidden;
}

/************End Reset**************/

/*global elements____________________________________*/
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 105%;
    background-color: #fff;
    padding-top: 0;
    color: #444;
    margin: 0;
    line-height:1.4;
}
article {
    padding: 0.1em;
    margin: 0 auto;
    max-width: 600px;
}

button {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    margin: 0.3em;
}
input {
    font-size: 1em;
}

canvas {
    margin: 0.3em;
    /*border: 1px solid #999;*/
    box-shadow: 2px 2px 8px #aaa;
    border-radius: 5px;
    /*cursor: crosshair;*/
}

a {
    text-decoration: none;
    color: #2793C7;
}
a:hover {
    text-decoration: underline;
    color: #000;
}

summary {
    cursor: pointer;
	outline: none;
}
hr {
    border: 0;
    border-bottom: 1px solid #aaa;
}

th {
    font-weight: bold;
    text-align: left;
}
details p {
    text-align: center;
	font-size: 1.3em;
}

::selection {
    color: white;
    background: #2793C7;
    /*background: #0f0;*/
}

pre {
  overflow-x: auto;
  background-color: #eee;
}


table {
  margin: 25px auto;
  border-collapse: collapse;
  border: 1px solid #eee;
  /*border-bottom: 2px solid #222;*/
  width: 100%;
}
table tr:hover {
  background: #f4f4f4;
}
table tr:hover td {
  color: #555;
}
table th, table td {
  color: #777;
  border: 1px solid #eee;
  padding: 12px 20px;
  border-collapse: collapse;
}
table th {
  background: #444;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.85em;
}
table th.last {
  border-right: none;
}
.rainbow {
	background: linear-gradient(red, orange , yellow, green, cyan, blue, violet);
	font-weight: 900;
	color: #fff;
}
.ion {
	background: #fef;
}

/*classes_________________________________________*/
.back {
	text-align: center;
	margin: 10em;
}

.underlined {
  margin-top: 2em;
  border-bottom: 1px solid #aaa;
  font-weight: 300;
  font-size: 2.2em;
}

.center {
  text-align: center;
  padding: 0;
  margin: auto;
  display: block;
}

.highlight {
  color: #fff;
  background-color: #2793C7;
  /*color: #000;
  background-color: #ffcdf0;*/
  border-radius: 5px;
  margin: 0px 2px 0px 2px;
  padding: 0px 2px 0px 2px;
}

.definition {
    background-color: #ddeef6;
    padding: 1em;
    margin: 1em 0em 1em 0em;
    border-radius: 1em;
    line-height:1.6;
}
.definition i {
    color: #888;
    font-weight: 300;
}
.example{
	margin: 8em 0em 8em 0em;
}

.data th, td {
    padding: 0.5em;
}

.derive {
    text-align: center;
    background-color: #e6f9f0;
    padding: 1.3em;
    border-radius: 1em;
}
.history {
	font-family: "Times New Roman", Times, serif;
	font-size: 100%;
    text-align: left;
    background-color: #e6f9f0;
	font-size: 1em;
    padding: 1.3em;
    border-radius: 1em;
}
.svgDiagram {
    /*border: 1px solid black;*/
    transition: all 200ms ease-in;
}
/*.svgDiagram:hover {
    z-index: 2;
    background: #fff;
    border: 1px solid black;
    transform: scale(2);
}*/

/*math tex rendering __________________________*/

.katex {
    font-size: 1.5em !important;
}
details .katex {
    font-size: 2em !important;
}

/*basic flex box __________________________*/
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-item {
    margin: 0.8em
}


/*2 Equal-Width Columns that combine in the article________________*/
@media screen and (min-width: 43em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 50%;
  }
}

/* Header setup_________________________________*/
header {
    background-color: #222;
    color: white;
    padding: 0.1em 0em 0.1em 0em;
    text-align: center;
}

header h1 {
    margin: 0.5em;
    font-size: 5em;
    font-weight: 300;
}

.e-mail-link {
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
}
.e-mail-link:hover {
    text-decoration: none;
    background-color: #2793C7;
    color: white;
}

@media screen and (max-width: 600px) {
  .head_graphics {
    visibility: hidden;
  }
}

/* grid setup ---------------------------- */

.grid {
    overflow: hidden;
    padding: 0.5em 0 0 0.5em;
    max-width: 76em;
    margin: 0 auto;
    line-height:1.6;
}
.grid h3, .grid h2 {
    border-bottom: 1px solid #aaa;
    font-weight: 400;
}
.grid a {
    color: #555;
}
.grid a:hover {
    color: #2793C7;
}
.grid li {
    padding: 0 0.5em 0.5em 0;
}
.grid li> div {
    padding: 1em 1em;
}
@media all and (min-width: 27em) {
    .grid li {
        width: 50%;
        float: left;
    }
}
@media all and (min-width: 40em) {
    .grid li {
        width: 33.3333333%;
    }
    .grid li.wide {
        width: 66.666666%;
    }
}
@media all and (min-width: 60em) {
    .grid li {
        width: 25%;
    }
    .grid li.wide {
        width: 50%;
    }
}
