@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';
:root {
    /*--accent-color: #207ea7;*/
    /*--accent-color: #026a99;*/
    --accent-color: #2793C7;
    --accent-color-light: #e6f3f9;
    --font: "Roboto", "Helvetica", "Arial", sans-serif;
}

/************Reset**************/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, div, object, iframe, fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
header, footer, nav, section, article, hgroup, figure {
    display: block;
}
legend {
    display: none;
}

svg:not(:root) {
  overflow: hidden;
}

/************End Reset**************/

/*global elements____________________________________*/
body {
    font-family: var(--font);
    font-size: 110%;
    background-color: #fff;
    padding-top: 0px;
    color: #333;
    margin: 0;
}
button {
    font-family: var(--font);
    font-size: 100%;
}
input {
    font-family: var(--font);
    font-size: 100%;
}

article {
    padding: 10px 10px 10px 10px;
    margin: 0 auto;
    max-width: 45em;
}

canvas {
    border: 1px solid black;
    /*background-color: #f9f9f9;*/
    /*border-radius: 20px;*/
    /*cursor: crosshair;*/
}

a {
    text-decoration: none;
    color: var(--accent-color);
}
a:hover {
    text-decoration: underline;
    color: #000;
}

summary {
    cursor: pointer;
}
hr {
    border: 0;
    border-bottom: 1px solid #999;
}
th {
    text-align: left;
}
details p {
    text-align: center;
}

::selection {
    color: white;
    background: var(--accent-color);
}

/*classes_________________________________________*/

.underlined {
  border-bottom: 1px solid #999;
  font-weight: 400;
}

.definition {
    background-color: var(--accent-color-light);
    padding: 20px;
    margin: 30px 60px 30px 60px;
    border-radius: 15px;
}
.definition i {
    color: #888;
    font-weight: 300;
}
.derive {
    text-align: center;
    background-color: #e6f9f0;
    padding: 20px;
    border-radius: 15px;
}

.svgDiagram {
    /*border: 1px solid black;*/
    transition: all 100ms ease-in;
}
.svgDiagram:hover {
    z-index: 2;
    background: #fff;
    border: 1px solid black;
    transform: scale(1.5);
}

.material-icons.md-18 {
  font-size: 18px;
}

/*math tex rendering __________________________*/

.katex {
    font-size: 1.5em !important;
}
details .katex {
    font-size: 2em !important;
}

/*basic flex box __________________________*/
.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.flex-item {
    margin: 10px;
}

/* Header setup_________________________________*/

header {
    background-color: #222;
    padding: 1em 0em 0.5em 0em;
    text-align: center;
}

header h1 {
    color: white;
    font-size: 5em;
    font-weight: 300;
}

.e-mail-link {
    border-radius: 290486px;
    color: white;
    font-size: 0.6em;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    text-decoration: none;
    transition: none 200ms ease-out;
    transition-property: color, background;
}
.e-mail-link:hover {
    text-decoration: none;
    background-color: var(--accent-color);
    color: white;
}

@media screen and (max-width: 600px) {
  .head_graphics {
    visibility: hidden;
  }
}

/* grid setup ---------------------------- */

.grid {
    overflow: hidden;
    padding: 0.5em 0 0 0.5em;
    max-width: 76em;
    margin: 0 auto;
}
.grid h3, .grid h2 {
    border-bottom: 1px solid #999;
    font-weight: 400;

}
.grid a {
    color: #666;
}
.grid a:hover {
    color: var(--accent-color);
}
.grid li {
    padding: 0 0.5em 0.5em 0;
}
.grid li> div {
    padding: 1em 1em;
}
@media all and (min-width: 27em) {
    .grid li {
        width: 50%;
        float: left;
    }
}
@media all and (min-width: 40em) {
    .grid li {
        width: 33.3333333%;
    }
    .grid li.wide {
        width: 66.666666%;
    }
}
@media all and (min-width: 60em) {
    .grid li {
        width: 25%;
    }
    .grid li.wide {
        width: 50%;
    }
}
